{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
<div class="header1">
        <header class="header">
            <h1>skywaves</h1>
        </header>
    <div class="container">
        <h2>Register Here !</h2>

        <form  method="POST" action="{% url 'save' %}">
            {% csrf_token %}
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="mobileNumber">Mobile Number</label>
            <input type="tel" id="mobileNumber" name="mobileNumber" pattern="[0-9]{10}" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="gender">Gender</label>
            <select id="gender" name="gender" required>
                <option value="">Select...</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <input type="submit" value="Register">
        </form>
    </div>


</body>
</html>